In [7]:
%pip install -e ..

Obtaining file:///Users/sethvanderbijl/Coding%20Projects/DM_project_2
Installing collected packages: DM-project-2
  Attempting uninstall: DM-project-2
    Found existing installation: DM-project-2 1.0
    Uninstalling DM-project-2-1.0:
      Successfully uninstalled DM-project-2-1.0
  Running setup.py develop for DM-project-2
Successfully installed DM-project-2
Note: you may need to restart the kernel to use updated packages.

In [1]:
from data.load import load_data
from datetime import datetime
import numpy as np
import pandas as pd
from sklearn.ensemble import AdaBoostRegressor, BaggingRegressor, RandomForestRegressor, StackingClassifier, StackingRegressor
from sklearn.linear_model import BayesianRidge, ElasticNet, HuberRegressor, LinearRegression, SGDRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import  train_test_split
from sklearn.preprocessing import MinMaxScaler
from numpy import std
import time
import matplotlib.pyplot as plt
import copy
from helpers.ranking import to_ranking

In [3]:
# Some df exploration to see what fts to engineer
df= load_data(num_rows=1000)
df

No cache for this specific request, start loading base df from disk.
saving result of specific arguments to cache

100%|██████████| 500/500 [00:05<00:00, 85.42it/s]

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,78,2012-12-21 05:30:35,5,205,NaN,NaN,15,16549,4,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
996,78,2012-12-21 05:30:35,5,205,NaN,NaN,15,31638,5,4.5,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0,NaN,0
997,78,2012-12-21 05:30:35,5,205,NaN,NaN,15,35509,5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
998,78,2012-12-21 05:30:35,5,205,NaN,NaN,15,35871,5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
999,78,2012-12-21 05:30:35,5,205,NaN,NaN,15,41413,4,3.5,...,NaN,1.0,0.0,19.0,NaN,NaN,NaN,0,NaN,0

In [5]:

# Load data
df = load_data(add_day_parts=True, same_value_operations=[('site_id', 'price_usd', 'avg'), ('srch_id', 'price_usd', 'avg'), ('prop_id', 'price_usd', 'avg')], fts_operations=[('prop_starrating', 'visitor_hist_starrating', 'diff')], add_seasons=True)

No cache for this specific request, start loading base df from disk.
generating dayparts

  0%|          | 0/6 [00:00<?, ?it/s]

1 / 6 Generating datetimes for early_morning

100%|██████████| 4956098/4956098 [00:28<00:00, 172899.06it/s]
 17%|█▋        | 1/6 [00:28<02:24, 28.99s/it]

2 / 6 Generating datetimes for morning

100%|██████████| 4956098/4956098 [00:26<00:00, 188269.80it/s]
 33%|███▎      | 2/6 [00:55<01:50, 27.60s/it]

3 / 6 Generating datetimes for noon

100%|██████████| 4956098/4956098 [00:25<00:00, 191142.27it/s]
 50%|█████     | 3/6 [01:21<01:20, 26.97s/it]

4 / 6 Generating datetimes for eve

100%|██████████| 4956098/4956098 [00:23<00:00, 210372.44it/s]
 67%|██████▋   | 4/6 [01:45<00:51, 25.73s/it]

5 / 6 Generating datetimes for night

100%|██████████| 4956098/4956098 [00:25<00:00, 194846.05it/s]
 83%|████████▎ | 5/6 [02:11<00:25, 25.77s/it]

6 / 6 Generating datetimes for late_night

100%|██████████| 4956098/4956098 [00:27<00:00, 179070.62it/s]
100%|██████████| 6/6 [02:39<00:00, 26.59s/it]

generating seasons

100%|██████████| 4956098/4956098 [00:28<00:00, 176983.38it/s]

generating same id features

100%|██████████| 4956098/4956098 [00:09<00:00, 518039.84it/s]
100%|██████████| 4956098/4956098 [00:11<00:00, 437689.36it/s]
100%|██████████| 4956098/4956098 [00:11<00:00, 429422.12it/s]
100%|██████████| 3/3 [00:33<00:00, 11.17s/it]

Feature engineering columns with operations
saving result of specific arguments to cache

100%|██████████| 500/500 [00:40<00:00, 12.36it/s]

In [46]:
# Split into target and predictors
y = df['booking_bool']
X = df.drop(['booking_bool','click_bool', 'position', 'gross_bookings_usd', 'date_time'], axis=1)
X = X.fillna(X.mean())
del df

In [5]:
# Set up stakcing regressor
# rf = RandomForestRegressor()
# rf= StackingRegressor([('rf',RandomForestRegressor()), ('br',BayesianRidge()), ('ab',AdaBoostRegressor())], verbose=3, n_jobs=7)
rf=RandomForestRegressor(verbose=3)

RandomForestRegressor()

In [ ]:
# Check how many hours this will take
from scitime import RuntimeEstimator

# example for rf regressor
estimator = RuntimeEstimator(meta_algo='RF', verbose=3)
estimation, lower_bound, upper_bound = estimator.time(rf, X, y)

estimation, lower_bound, upper_bound

In [ ]:
# The heavy lifting
rf.fit(X, y)

In [14]:
import joblib
_ = joblib.dump(rf, 'model_new.pkl')

In [49]:
# Load our own test data
test = load_data(mode='our_test', add_day_parts=True, same_value_operations=[('site_id', 'price_usd', 'avg'), ('srch_id', 'price_usd', 'avg')], fts_operations=[('prop_starrating', 'visitor_hist_starrating', 'diff')], add_seasons=True)

No cache for this specific request, start loading base df from disk.

100%|██████████| 2249/2249 [00:00<00:00, 193263.33it/s]
100%|██████████| 2249/2249 [00:00<00:00, 159513.49it/s]
100%|██████████| 2249/2249 [00:00<00:00, 141047.72it/s]
100%|██████████| 2249/2249 [00:00<00:00, 151126.11it/s]
100%|██████████| 2249/2249 [00:00<00:00, 112624.64it/s]
100%|██████████| 2249/2249 [00:00<00:00, 109820.01it/s]
100%|██████████| 6/6 [00:00<00:00, 40.31it/s]

generating dayparts
1 / 6 Generating datetimes for early_morning
2 / 6 Generating datetimes for morning
3 / 6 Generating datetimes for noon
4 / 6 Generating datetimes for eve
5 / 6 Generating datetimes for night
6 / 6 Generating datetimes for late_night

100%|██████████| 2249/2249 [00:00<00:00, 154943.98it/s]
100%|██████████| 2249/2249 [00:00<00:00, 374949.90it/s]
100%|██████████| 2249/2249 [00:00<00:00, 563937.93it/s]
100%|██████████| 2/2 [00:00<00:00, 38.71it/s]

generating seasons
generating same id features
Feature engineering columns with operations
saving result of specific arguments to cache

100%|██████████| 500/500 [00:08<00:00, 61.13it/s]

In [57]:
# Drop irrelevant columns from our own test data
X_test = test.drop(['date_time', 'gross_bookings_usd', 'booking_bool', 'click_bool', 'position'], axis=1)
X_test = X_test.fillna(X.mean()) #Mean of x or mean of x_test?

In [58]:
# Check if there is a difference in columns (there shouldn't be)
list(set(X_test.columns) - set(X.columns))

[]

In [1]:
# Predicting on our own test data
from helpers.ndcg import ndcg_eval

preds = rf.predict(X_test)

ranking = to_ranking(X_test, preds)

score = ndcg_eval(ranking, test, show_difference=True)

score

TabError: inconsistent use of tabs and spaces in indentation (ndcg.py, line 34)

In [64]:
# So now let's predict for the kaggle_competition
kaggle_test = load_data(mode='kaggle_test', add_day_parts=True, same_value_operations=[('site_id', 'price_usd', 'avg'), ('srch_id', 'price_usd', 'avg')], fts_operations=[('prop_starrating', 'visitor_hist_starrating', 'diff')], add_seasons=True)

No cache for this specific request, start loading base df from disk.

  0%|          | 0/6 [00:00<?, ?it/s]

generating dayparts
1 / 6 Generating datetimes for early_morning

100%|██████████| 4959183/4959183 [00:23<00:00, 210222.68it/s]
 17%|█▋        | 1/6 [00:24<02:00, 24.02s/it]

2 / 6 Generating datetimes for morning

100%|██████████| 4959183/4959183 [00:32<00:00, 152285.77it/s]
 33%|███▎      | 2/6 [00:57<01:46, 26.74s/it]

3 / 6 Generating datetimes for noon

100%|██████████| 4959183/4959183 [00:42<00:00, 116329.06it/s]
 50%|█████     | 3/6 [01:40<01:35, 31.71s/it]

4 / 6 Generating datetimes for eve

100%|██████████| 4959183/4959183 [00:37<00:00, 133113.48it/s]
 67%|██████▋   | 4/6 [02:18<01:07, 33.54s/it]

5 / 6 Generating datetimes for night

100%|██████████| 4959183/4959183 [00:29<00:00, 165826.00it/s]
 83%|████████▎ | 5/6 [02:48<00:32, 32.58s/it]

6 / 6 Generating datetimes for late_night

100%|██████████| 4959183/4959183 [00:45<00:00, 108622.33it/s]
100%|██████████| 6/6 [03:35<00:00, 35.85s/it]
  0%|          | 0/4959183 [00:00<?, ?it/s]

generating seasons

100%|██████████| 4959183/4959183 [00:37<00:00, 131371.46it/s]
  0%|          | 0/2 [00:00<?, ?it/s]

generating same id features

100%|██████████| 4959183/4959183 [00:13<00:00, 360716.65it/s]
100%|██████████| 4959183/4959183 [00:19<00:00, 260770.12it/s]
100%|██████████| 2/2 [00:40<00:00, 20.48s/it]

Feature engineering columns with operations

  0%|          | 0/500 [00:00<?, ?it/s]

saving result of specific arguments to cache

100%|██████████| 500/500 [01:11<00:00,  7.04it/s]

In [77]:
# Drop irrelevant columns from our own test data
X_test_kaggle = kaggle_test.drop('date_time', axis=1)
X_test_kaggle = X_test_kaggle.fillna(X.mean()) #Mean of x or mean of x_test?

# Again double check whether columns are equal
list(set(X_test_kaggle.columns) - set(X.columns))

[]

In [78]:
# The moment of truth :O
preds = rf.predict(X_test_kaggle)

ranking = to_ranking(X_test_kaggle, preds)

ranking

         srch_id  prop_id
25             1   128085
6              1    34263
8              1    50162
23             1    99484
5              1    28181
...          ...      ...
4959177   332787    29018
4959178   332787    32019
4959181   332787    94437
4959182   332787    99509
4959180   332787    35240

[4959183 rows x 2 columns]

In [80]:
ranking.to_csv('kaggle_ranking_seth.txt', index=False)

In [79]:
# Also look at feature importances, both fr debugging and informing group mates
l = zip(X.columns, rf.feature_importances_)
df = pd.DataFrame(l, columns=['f', 'i']).sort_values('i', ascending=False)
print(df)
df.to_csv('temp feature importances')

                                 f         i
60  same_val_srch_id_price_usd_avg  0.075240
13                       price_usd  0.073632
0                          srch_id  0.071089
23       orig_destination_distance  0.070275
11            prop_location_score2  0.063259
..                             ...       ...
35                       comp4_inv  0.002395
41                       comp6_inv  0.002080
27         comp1_rate_percent_diff  0.001900
25                      comp1_rate  0.001200
26                       comp1_inv  0.000753

[62 rows x 2 columns]