In [1]:
from data.load import load_data
import os
import numpy as np
import pandas as pd

In [2]:
df = load_data(num_rows=1000, fts_operations=[('srch_id', 'all', 'diff')], same_value_operations=[('prop_id', 'all', 'avg')])

No cache for this specific request, start loading base df from disk.
generating same id features

100%|██████████| 1000/1000 [00:00<00:00, 124752.51it/s]
100%|██████████| 1000/1000 [00:00<00:00, 210800.82it/s]
100%|██████████| 1000/1000 [00:00<00:00, 226229.99it/s]
100%|██████████| 1000/1000 [00:00<00:00, 206952.39it/s]
100%|██████████| 1000/1000 [00:00<00:00, 223125.01it/s]
100%|██████████| 1000/1000 [00:00<00:00, 240499.08it/s]
100%|██████████| 1000/1000 [00:00<00:00, 217107.72it/s]
100%|██████████| 1000/1000 [00:00<00:00, 185391.80it/s]
100%|██████████| 1000/1000 [00:00<00:00, 327526.47it/s]
100%|██████████| 1000/1000 [00:00<00:00, 131975.21it/s]
100%|██████████| 1000/1000 [00:00<00:00, 160406.30it/s]
100%|██████████| 1000/1000 [00:00<00:00, 171785.06it/s]
100%|██████████| 1000/1000 [00:00<00:00, 227642.01it/s]
100%|██████████| 1000/1000 [00:00<00:00, 200598.02it/s]
100%|██████████| 1000/1000 [00:00<00:00, 166196.62it/s]
100%|██████████| 1000/1000 [00:00<00:00, 240086.09it/s]
100%|██████████| 1000/1000 [00:00<00:00, 207947.65it/s]
100%|██████████| 1000/1000 [00:00<00:00, 218350.98it/s]
100%|██████████| 1000/1000 [00:00<00:00, 203636.65it/s]
100%|██████████| 1000/1000 [00:00<00:00, 200963.25it/s]
100%|██████████| 1000/1000 [00:00<00:00, 169864.90it/s]
100%|██████████| 1000/1000 [00:00<00:00, 241135.10it/s]
100%|██████████| 1000/1000 [00:00<00:00, 275036.33it/s]
100%|██████████| 1000/1000 [00:00<00:00, 214773.11it/s]
100%|██████████| 1000/1000 [00:00<00:00, 283936.10it/s]
100%|██████████| 1000/1000 [00:00<00:00, 277309.36it/s]
100%|██████████| 1000/1000 [00:00<00:00, 277639.77it/s]
100%|██████████| 1000/1000 [00:00<00:00, 143867.19it/s]
100%|██████████| 1000/1000 [00:00<00:00, 150403.56it/s]
100%|██████████| 1000/1000 [00:00<00:00, 188245.77it/s]
100%|██████████| 1000/1000 [00:00<00:00, 158983.55it/s]
100%|██████████| 1000/1000 [00:00<00:00, 98629.17it/s]
100%|██████████| 1000/1000 [00:00<00:00, 197583.57it/s]
100%|██████████| 1000/1000 [00:00<00:00, 163782.42it/s]
100%|██████████| 1000/1000 [00:00<00:00, 212219.39it/s]
100%|██████████| 1000/1000 [00:00<00:00, 265950.42it/s]
100%|██████████| 1000/1000 [00:00<00:00, 271880.73it/s]
100%|██████████| 1000/1000 [00:00<00:00, 273440.51it/s]
100%|██████████| 1000/1000 [00:00<00:00, 290424.04it/s]
100%|██████████| 1000/1000 [00:00<00:00, 146005.64it/s]
100%|██████████| 1000/1000 [00:00<00:00, 216067.59it/s]
100%|██████████| 1000/1000 [00:00<00:00, 269107.15it/s]
100%|██████████| 1000/1000 [00:00<00:00, 160565.96it/s]
100%|██████████| 1000/1000 [00:00<00:00, 188992.20it/s]
100%|██████████| 1000/1000 [00:00<00:00, 219252.69it/s]
100%|██████████| 1000/1000 [00:00<00:00, 288605.52it/s]
100%|██████████| 1000/1000 [00:00<00:00, 216034.20it/s]
100%|██████████| 1000/1000 [00:00<00:00, 236472.01it/s]
100%|██████████| 1000/1000 [00:00<00:00, 215435.00it/s]
100%|██████████| 1000/1000 [00:00<00:00, 217535.60it/s]
100%|██████████| 1000/1000 [00:00<00:00, 142921.05it/s]
100%|██████████| 1000/1000 [00:00<00:00, 216961.72it/s]
100%|██████████| 1000/1000 [00:00<00:00, 269973.22it/s]
100%|██████████| 1/1 [00:01<00:00,  1.25s/it]

Feature engineering columns with operations
saving result of specific arguments to cache

100%|██████████| 500/500 [00:10<00:00, 48.97it/s]

In [4]:
df.to_csv('what.csv')

In [ ]:
df['prop_id']

In [6]:
df[['prop_id', 'same_val_prop_id_price_usd_avg', 'price_usd']]

     prop_id  same_val_prop_id_price_usd_avg  price_usd
0        893                          104.77     104.77
1      10404                          170.74     170.74
2      21315                          179.80     179.80
3      27348                          602.77     602.77
4      29604                          143.58     143.58
..       ...                             ...        ...
995    16549                          123.00     123.00
996    31638                          355.00     355.00
997    35509                          299.00     299.00
998    35871                          408.00     408.00
999    41413                          136.00     136.00

[1000 rows x 3 columns]