In [1]:
from data.load import load_data
import os
import numpy as np
import pandas as pd

In [2]:
order = [('srch_id', 'all'), ('prop_id', 'price_usd')]

df = load_data(mode='train', order_operations=order)

No cache for this specific request, start loading base df from disk.
generating order features

100%|██████████| 53/53 [03:25<00:00,  3.87s/it]
100%|██████████| 2/2 [03:37<00:00, 108.61s/it]

saving result of specific arguments to cache

100%|██████████| 500/500 [00:49<00:00, 10.17it/s]

In [4]:
df.head(500)[['srch_id', 'price_usd', 'order_srch_id_price_usd']].sort_values(['srch_id', 'price_usd']).to_csv('temp.csv')

In [7]:
df.to_csv('our_train.csv')

In [10]:
df['prop_id']

0          893
1        10404
2        21315
3        27348
4        29604
         ...
99995    31166
99996    31486
99997    37124
99998    37304
99999    37543
Name: prop_id, Length: 99955, dtype: int64

In [11]:
df[['prop_id', 'same_val_prop_id_price_usd_avg', 'price_usd']]

       prop_id  same_val_prop_id_price_usd_avg  price_usd
0          893                      118.338500     104.77
1        10404                      136.750000     170.74
2        21315                      156.253125     179.80
3        27348                      105.395714     602.77
4        29604                      123.458947     143.58
...        ...                             ...        ...
99995    31166                       72.700000     159.00
99996    31486                      161.192143     279.00
99997    37124                      165.451667     339.00
99998    37304                      105.169231     251.00
99999    37543                      134.111667     299.00

[99955 rows x 3 columns]